# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDEs
.vscode/
.idea/
*.swp

# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log

# Temp files
cookies.txt
*.png
login_page.html
login_response.html
dali_login_fail.html
dali_custom.js
mapping.json
reportes/
